@import base

.container
	width: 100%
	max-width: 1380px
	padding: 0 15px
	margin: 0 auto

	+r(1440)
		max-width: 1200px

	+r(1200)
		max-width: 992px

	+r(992)
		max-width: 768px

	+r(767)
		max-width: 576px

	+r(576)
		max-width: 480px

.btn
	position: relative
	overflow: hidden
	display: flex
	justify-content: space-between
	align-items: center
	gap: 10px
	padding: 0 25px
	border-radius: 60px
	padding: 16px 20px 16px 32px
	width: 209px
	height: 56px
	white-space: nowrap
	font-family: var(--second-family)
	font-weight: 400
	font-size: 20px
	line-height: 100%
	text-transform: capitalize
	color: var(--main-white)
	background: none

	&::before
		content: ''
		position: absolute
		top: 0
		left: 0
		bottom: 0
		display: block
		width: 100%
		height: 100%
		background: linear-gradient(90deg, #9a1a51 0%, #631f89 83.7%)
		z-index: -1
		+transition

	&:hover,
	&:active
		color: #fff

		&::before
			width: 280%

	&:active
		transform: scale(.97)

.hamburger
	position: relative
	display: none
	padding: 0
	border: none
	background-color: transparent
	transition: all .3s
	width: 25px
	height: 18px
	margin-left: 15px
	outline: none
	z-index: 100

	+r(767)
		display: flex

	&:hover
		span
			background-color: #000

			&::before,
			&::after
				background-color: #000

	&__item
		position: absolute
		right: 0
		top: 50%
		transform: translate(0, -50%)
		width: 30px
		height: 2px
		background-color: #000
		border-radius: 4px
		+transition
		bottom: 0

		&::before,
		&::after
			content: ''
			display: block
			position: absolute
			right: 0
			background-color: #000
			height: 2px
			+transition

		&::before
			top: 7px
			width: 30px

		&::after
			top: -7px
			width: 30px

	&--active
		z-index: 100

		&:hover
			span
				background-color: transparent

				&::before,
				&::after
					background-color: #000

		.hamburger__item
			background-color: transparent

			&::before
				top: 0
				width: 25px
				transform: rotate(45deg)

			&::after
				top: 0
				width: 25px
				transform: rotate(-45deg)

.header
	position: fixed
	top: 0
	left: 0
	right: 0
	max-width: 100vw
	border-radius: 0 0 32px 32px
	background-color: rgba(255, 255, 255, .5)
	backdrop-filter: blur(30px)
	border: 1px solid #fff
	z-index: 100
	+transition

	+r(992)
		border-radius: 0 0 16px 16px

	&--menu
		border-radius: 0
		background-color: #fff

	&__container
		position: relative

		+r(767)
			display: flex
			align-items: center
			justify-content: space-between
			padding-top: 13px
			padding-bottom: 13px

	&__logo
		position: absolute
		left: 0
		top: 50%
		transform: translate(0, -45%)

		+r(767)
			position: relative
			top: 0
			transform: translate(0, 15%)

	&__list
		display: flex
		justify-content: center

		+r(767)
			flex-direction: column

	&__nav
		padding-left: 100px
		+transition

		+r(767)
			position: fixed
			top: 45px
			left: 0
			right: 0
			width: 100%
			backdrop-filter: blur(130px)
			background: rgba(255, 255, 255, 0.9)
			padding: 25px 60px 50px
			text-align: center
			visibility: hidden
			opacity: 0
			z-index: -1

		&--active
			top: 65px
			visibility: visible
			opacity: 1

	&__link
		position: relative
		display: block
		padding: 25px 30px
		font-size: 20px
		line-height: 1
		color: #100426

		+r(1200)
			padding: 15px 20px
			font-size: 18px

		+r(767)
			max-width: 255px
			margin: 0 auto

		&:hover
			color: #100426

			&::before
				width: 100%

		&::before
			content: ''
			position: absolute
			bottom: -1px
			height: 1px
			left: 50%
			transform: translate(-50%, 0)
			width: 0
			background-color: #100426
			opacity: .3
			+transition

		&--active
			&::before
				width: 100%

.wrap
	overflow: hidden

.main
	height: 100vh
	min-height: fit-content
	width: 100vw
	background-image: url(../img/main__one.png)
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	scroll-snap-type: none

	&__container
		position: relative
		display: flex
		flex-direction: column
		justify-content: center
		height: 100vh
		padding-top: 170px
		padding-bottom: 100px

		+r(1200)
			padding: 100px 15px 50px
		
		+r(992)
			justify-content: flex-start

	&__content
		max-width: 780px

		+r(1500)
			max-width: 650px

		+r(1200)
			max-width: 530px

		+r(992)
			max-width: 100%
			text-align: center

	&__title
		font-size: 48px
		font-family: var(--second-family)
		font-weight: 500
		margin-bottom: 40px

		+r(1380)
			font-size: 36px
			margin-bottom: 20px

		+r(992)
			font-size: 28px

		&--uppercase
			text-transform: uppercase

	&__subtitle
		margin-bottom: 25px
		font-size: 28px
		color: var(--main-text-70-opacity)
		font-weight: 300

		+r(1380)
			font-size: 22px

		b
			font-weight: 400
			color: var(--main-main-blue)

	&__scroll
		display: flex
		align-items: center
		font-size: 20px
		color: var(--main-dark-blue---text)
		line-height: 1
		margin-top: 200px

		+r(1500)
			margin-top: 150px
		
		+r(1380)
			margin-top: 60px
		
		+r(992)
			display: none

		img
			animation-name: slideRightUp
			animation-duration: 2s
			animation-iteration-count: infinite
			animation-timing-function: ease-in-out

	&__swipe
		@extend .main__scroll
		display: none

		+r(992)
			display: flex
			justify-content: center
			flex-wrap: wrap
			gap: 7px
			margin-top: 30px

			span
				width: 100%

	&__img
		position: absolute
		right: 0
		top: 50%
		transform: translate(0, -50%)
		display: flex
		align-items: center
		justify-content: center
		width: 550px
		height: 550px
		z-index: -1
		+transition

		+r(1500)
			width: 500px
			height: 500px

		+r(1500)
			width: 390px
			height: 350px
		
		+r(1380)
			right: 8%

		+r(992)
			position: relative
			top: 10%
			left: auto
			right: auto
			margin: 0 auto
			transform: translate(0, 0)

		+r(576)
			width: 300px

		+r(480)
			width: 250px

		img
			max-width: 120%

		&_style
			position: absolute
			transition: all 0s ease-in-out 0.4s

			+r(480)
				transform: scale(.7) !important

		&_play
			top: -30px
			left: 90%

		&_play2
			top: 40%
			left: 20%

		&_gamepad
			top: 30%
			left: -60px
		
		&_rock
			top: -40px
			left: 30px
		
		&_rock2
			top: 90%
			left: 90%

		&_spiral
			top: 35%
			left: 80%

		&_star
			top: 30%
			left: 20%

		&_star2
			top: -5%
			left: 70%
			transform: scale(1.3)

	&__desc
		position: relative
		max-width: 550px
		padding: 40px 0

		+r(1200)
			padding: 20px 0
			max-width: 480px

		+r(992)
			max-width: 100%

	&__text
		height: 150px
		padding-left: 60px
		font-size: 16px

		+r(1380)
			height: 120px
			font-size: 14px

		+r(992)
			padding-left: 0
			font-size: 18px

	&__navbar
		position: absolute
		left: 0
		top: 0
		height: 90%

		+r(992)
			display: none

		&--respons
			position: relative
			display: none
			width: 1100px
			margin-bottom: 20px

			+r(992)
				display: block

			&-two
				margin-left: -250px

			&-three
				margin-left: -300px

	&--one,
	&--two,
	&--three,
	&--four
		opacity: 0
		background-color: #fff

		&.swiper-slide-active,
		&.swiper-slide-prev
			.main__img_style
				transition: all 1s ease-in-out 0.2s

	&--one
		&.swiper-slide-prev
			.main__img
				&_rock
					top: 90%
					left: 90%

				&_rock2
					top: -40px
					left: 30px

				&_spiral
					top: 25%
					left: 80%

				&_play
					top: 30px
					left: 80%

				&_gamepad
					top: 30%
					left: 50px
		
	&--two
		&.swiper-slide-active
			.main__img
				&_rock
					top: 90%
					left: 90%

				&_rock2
					top: -40px
					left: 30px

				&_play2
					top: 70%
					left: 10%

				&_spiral
					top: 25%
					left: 80%

				&_star
					top: 40%
					left: 10%

				&_star2
					top: -15%
					left: 80%
					transform: scale(1.3)

		.main__text--two,
		.main__text--three
			+r(992)
				display: none

	&--three
		&.swiper-slide-active
			.main__img
				&_rock
					top: 90%
					left: 90%
					transform: scale(1.4)

				&_rock2
					top: -40px
					left: 40%

				&_play2
					top: 70%
					left: 10%

				&_spiral
					top: 5%
					left: 80%
					transform: rotate(120deg)

				&_star
					top: 50%
					left: 90%

				&_star2
					top: 10%
					left: 0%
					transform: scale(1.3)
		
		.main__text--one,
		.main__text--three
			+r(992)
				display: none

	&--four
		&.swiper-slide-active
			.main__img
				&_rock
					top: 90%
					left: 90%

				&_rock2
					top: -40px
					left: 0%
					transform: scale(3)

				&_play2
					top: 50%
					left: -5%

				&_spiral
					top: -5%
					left: 80%
					transform: rotate(0deg) scale(1.5)

				&_star
					top: 50%
					left: 90%

				&_star2
					top: 10%
					left: 0%
					transform: scale(1.3)

		.main__text--two,
		.main__text--three
			+r(992)
				display: none

	&--time
		&__bg
			position: absolute
			left: 0
			right: 0
			width: 100%
			min-height: 100vh
			background-color: #fff
			z-index: -2

		&__img
			position: absolute
			right: 0
			top: 150px
			height: 820px
			width: 100%

			+r(1380)
				top: 65px
				height: 649px

			+r(1200)
				top: 145px
				height: 452px

			+r(767)
				width: auto

		&__desc
			margin-bottom: 50px
			text-align: center

			+r(1380)
				margin-bottom: 20px

		&__title
			margin-bottom: 0

		&__wrap
			display: grid
			grid-template-columns: repeat(4, 1fr)
			grid-auto-rows: minmax(190px, auto)
			grid-template-areas: "one five five three" "two five five four"

			+r(992)
				display: flex
				flex-wrap: wrap
				justify-content: space-around

			+r(767)
				gap: 15px

		&__item
			display: flex
			align-items: center
			justify-content: center
			width: 300px
			height: 190px
			margin-bottom: 90px
			background-color: var(--glass-card-glass-fill)
			border-radius: 24px
			backdrop-filter: blur(20px)
			box-shadow: 0 6px 14px 0 rgba(73, 23, 155, 0.03), 0 25px 25px 0 rgba(73, 23, 155, 0.03), 0 55px 33px 0 rgba(73, 23, 155, 0.02), 0 98px 39px 0 rgba(30, 8, 73, 0), 0 153px 43px 0 rgba(30, 8, 73, 0)
			transition: all .6s
			cursor: pointer
			border: 1px	solid #fff

			+r(1380)
				margin-bottom: 50px
				width: 300px
				height: 160px

			+r(767)
				width: 45%
				height: 110px
				margin-bottom: 0

			&:hover
				transform: rotate(-30deg)
				border: 1px	solid #fff

			img
				max-width: 100%

				+r(767)
					max-width: 70%

			&_one
				grid-area: one
			&_two
				grid-area: two
				margin-bottom: 0px

			&_three
				grid-area: three
				justify-self: end
			&_four
				grid-area: four
				margin-bottom: 0px
				justify-self: end
			&_five
				grid-area: five
				margin: auto
				display: flex
				align-items: center
				justify-content: center

				img
					width: 100%

	&--products
		background-image: none
		width: 50%

		+r(992)
			width: 100%

		&__wrap
			position: absolute
			height: 100vh

		&__item
			position: absolute
			display: flex
			justify-content: space-between
			flex-wrap: wrap
			width: 600px
			backdrop-filter: blur(20px)
			box-shadow: 0 6px 14px 0 rgba(73, 23, 155, 0.03), 0 25px 25px 0 rgba(73, 23, 155, 0.03), 0 55px 33px 0 rgba(73, 23, 155, 0.02), 0 98px 39px 0 rgba(30, 8, 73, 0), 0 153px 43px 0 rgba(30, 8, 73, 0)
			background: var(--glass-card-glass-fill)
			border-radius: 0 32px 32px 32px
			padding: 20px 24px 24px 24px
			transition: all .4s
			opacity: 0.5
			z-index: 1

			+r(1380)
				padding: 10px
				width: 400px

			+r(992)
				width: 380px

			svg
				height: 100%

			svg, path
				transition: all .4s

			&--one
				right: 40%
				top: 120px

				+r(1380)
					top: 90px

				+r(992)
					right: 103%

				&_svg
					position: absolute
					right: 100%
					top: 60%
					height: 175px

					+r(1380)
						height: 120px

			&--two
				right: 80%
				top: 510px

				+r(1380)
					top: 350px

				+r(992)
					right: 155%

				&_svg
					position: absolute
					right: 100%
					top: -6%
					height: 175px

					+r(1380)
						height: 160px
						right: 93%

			&--three
				right: 50%
				top: 120px

				+r(1380)
					top: 90px

				+r(1200)
					right: 35%

				&_svg
					position: absolute
					right: 100%
					top: 55%
					height: 175px

					+r(1380)
						height: 120px

			&--four
				right: -40%
				top: 510px

				+r(1380)
					top: 350px

				+r(1200)
					right: -55%

				+r(992)
					right: -25%

				&_svg
					position: absolute
					right: 100%
					top: -6%
					height: 175px

					+r(1380)
						height: 160px
						right: 93%
		
		&__label
			position: absolute
			right: 100%
			top: 0
			display: flex
			align-items: center
			justify-content: center
			width: 96px
			height: 96px
			background: linear-gradient(90deg, #9a1a51 0%, #631f89 83.7%)
			border-radius: 16px 0 0 16px

			+r(1380)
				width: 70px
				height: 70px

				svg
					width: 70%

			+r(480)
				width: 50px

		&__title
			font-family: var(--second-family)
			font-weight: 500
			font-size: 32px
			line-height: 125%
			background: linear-gradient(90deg, #9a1a51 0%, #631f89 83.7%)
			background-clip: text
			-webkit-background-clip: text
			-webkit-text-fill-color: transparent
			margin-bottom: 5px

			+r(1380)
				font-size: 22px

		&__text
			font-family: var(--third-family)
			font-weight: 400
			font-size: 18px
			line-height: 133%
			color: var(--main-dark-blue---text)
			margin-bottom: 25px

			+r(1380)
				font-size: 14px
				margin-bottom: 10px

		&__col
			font-family: var(--third-family)
			font-weight: 500
			font-size: 18px
			line-height: 133%
			color: var(--main-main-blue)
			width: 43%

			p
				margin-bottom: 12px

				+r(1380)
					margin-bottom: 5px

		&__img
				display: flex
				align-items: center
				justify-content: center
				margin-bottom: 12px
				border-radius: 60px
				background: var(--main-white)
				height: 55px

				+r(1380)
					height: 35px
					margin-bottom: 5px

				&:last-child
					margin-bottom: 0

				img
					height: 30px
					max-width: 70%

					+r(1380)
						height: 20px

		&__line
			position: absolute
			top: 485px
			left: -135%
			height: 10px
			width: 270%
			background: var(--secondary-light-grey)
			z-index: 100
			transition: all .4s

			+r(2000)
				left: -115%

			+r(1380)
				top: 330px
				height: 6px
			
			+r(992)
				left: -150%
				width: 230%

			+r(767)
				left: -135%

			&::after
				content: ''
				position: absolute
				top: 0
				left: 0
				bottom: 0
				display: block
				height: 100%
				width: 18%
				background: linear-gradient(90deg, #9a1a51 0%, #631f89 83.7%)
				+transition

				+r(2000)
					width: 10%

			&::before
				content: ''
				position: absolute
				left: 18%
				top: 50%
				transform: translate(-50%, -50%)
				z-index: 1
				display: block
				width: 20px
				height: 20px
				border-radius: 50%
				background: linear-gradient(90deg, #9a1a51 0%, #631f89 83.7%)
				+transition
		
				+r(2000)
					left: 10%

		&--one
			.main__container
				justify-content: space-between

			&__bg
				position: absolute
				left: 0
				top: 0
				z-index: -1
				width: 200%
				min-height: 100vh
				transform: scaleX(-1)

			&__bg2
				position: absolute
				left: -100%
				bottom: 0
				z-index: 1
				width: 170%
				transition: all .4s

				+r(1380)
					width: 140%

			&__img
				position: absolute
				left: 0
				top: 150px
				height: 820px
				z-index: 1

				+r(1380)
					top: 65px
					height: 650px

				+r(1200)
					top: 146px
					height: 451px

		&--two
			.main--products__item--one
				opacity: 1
				
			&__bg
				position: absolute
				right: 0
				top: 0
				width: 200%

			&.swiper-slide-active
				.main--products__item--one
					right: 10%
				
				.main--products--one__bg2
					left: 0

			&.swiper-slide-prev
				.main--products__item--one
					right: -10%
					opacity: 0.5

				.main--products--one__bg2
					left: 100%

		&--three
			transform: none !important
			margin-right: 50%

			&.swiper-slide-prev
				margin-right: 50%

			&__bg
				position: absolute
				left: 100%
				min-height: 100vh
				top: 0
				width: 200%

			&.swiper-slide-next
				.main--products__line
					&::after
						width: 61%
					&::before
						left: 61.3%
			
				.main--products__item--two
					right: 60%
					opacity: 1

					+r(992)
						right: 102%
				
				.main--products__item--three
					right: 0%
					opacity: 1

				.main--products__item--two_svg,
				.main--products__item--three_svg
					path
						stroke: #9A1A51

			&.swiper-slide-active
				.main--products__line
					&::after
						width: 100%
					&::before
						left: 100%

				.main--products__item--two_svg,
				.main--products__item--three_svg,
				.main--products__item--four_svg
					path
						stroke: #9A1A51
		
				.main--products__item--three
					right: 20%
					opacity: 1

				.main--products__item--two
					right: 75%
					opacity: 1
				.main--products__item--four
					right: -50%
					opacity: 1

			&.swiper-slide-prev
				.main--products__line
					&::after
						width: 100%
					&::before
						left: 100%

	&--contacts
		background-image: url(../img/main--contacts.png)
		background-position: center bottom
		transition: margin .4s, right .4s !important
		background-color: #fff

		&__bg
			position: absolute
			bottom: 0
			left: 0
			min-width: 100%
			min-height: 100vh
			transform: rotateY(-180deg)
			z-index: -1

		&.swiper-slide-prev
			margin-left: 50%

			+r(767)
				margin-left: 0

			.main__img
				right: 20%
				transition: all 1s !important

				+r(992)
					right: -5%

			.main--contacts__desc
				opacity: 0

		.main__img
			top: 60%

			+r(1500)
				img
					width: 140%

			+r(992)
				top: 10%

		&__desc
			max-width: 700px
			+transition

			+r(1200)
				max-width: 570px

			+r(992)
				max-width: 100%

			b br
				+r(992)
					display: none

		&__info
			display: flex
			align-items: center
			gap: 15px
			margin-bottom: 20px

			svg
				flex-shrink: 0
				+r(1200)
					width: 45px
					height: 45px

			span
				font-family: var(--third-family)
				font-weight: 500
				font-size: 16px
				line-height: 100%
				text-align: center
				background: linear-gradient(90deg, #9a1a51 0%, #631f89 83.7%)
				background-clip: text

				+r(1200)
					font-size: 14px

			b
				font-family: var(--second-family)
				font-weight: 500
				font-size: 32px
				line-height: 125%
				color: var(--main-main-blue)

				+r(1380)
					font-size: 26px

				+r(1200)
					font-size: 20px

		&__text
			font-family: var(--third-family)
			font-weight: 400
			font-size: 18px
			line-height: 133%
			color: var(--main-text-70-opacity)
			margin-bottom: 50px

			+r(1200)
				font-size: 16px

	&--footer
		background: var(--main-main-blue)
		padding: 125px 95px 30px
		width: 50%

		+r(1380)
			padding: 105px 55px 15px

		+r(992)
			padding: 105px 55px 15px 0

		+r(576)
			width: 100%
			text-align: center
			padding: 100px 20px 

		.main__container
			justify-content: space-between
			gap: 15px
			padding: 0 15px
			height: 100%

		&__title
			font-family: var(--second-family)
			font-weight: 500
			font-size: 32px
			line-height: 125%
			color: var(--main-white)
			margin-bottom: 15px

			+r(1380)
				font-size: 26px

		&__copy
			font-family: var(--third-family)
			font-weight: 400
			font-size: 18px
			line-height: 133%
			color: var(--main-white)
			margin-bottom: 30px

			+r(1380)
				font-size: 14px
				margin-bottom: 15px

		&__soc
			display: flex
			flex-wrap: wrap
			gap: 10px
			margin-bottom: 20px

			+r(1380)
				margin-bottom: 15px

			+r(576)
				justify-content: center

			path
				+transition

			a
				display: block
				width: 42px
				height: 42px

				+r(1380)
					width: 30px
					height: 30px

				svg
					width: 100%
					height: 100%

				&:hover
					path
						fill: #dbd4ff

		&__subtitle
			font-family: var(--third-family)
			font-weight: 400
			font-size: 20px
			line-height: 120%
			color: var(--main-white)
			margin-bottom: 15px

			+r(1380)
				font-size: 16px

		&__list
			display: flex
			flex-direction: column
			flex-wrap: wrap
			gap: 10px

			+r(1380)
				gap: 5px

		&__link
			font-family: var(--second-family)
			font-weight: 400
			font-size: 20px
			line-height: 100%
			text-transform: capitalize
			color: var(--main-white)
			text-decoration: underline

			+r(1380)
				font-size: 16px

			&:hover
				color: #DBD4FF
				text-decoration: none

		&__info
			display: flex
			flex-wrap: wrap
			gap: 15px 30px
			margin-bottom: 32px

			+r(576)
				justify-content: center

			p
				width: 100%

		&__target
			@extend .main--footer__link

		&__img
			font-family: var(--third-family)
			font-weight: 400
			font-size: 14px
			line-height: 114%
			color: var(--main-white)
			opacity: 0.8

	&--debag
		width: 40%

		+r(767)
			width: 0

.pagination
	position: fixed
	z-index: 100
	bottom: 30px
	left: 50%
	transform: translate(-50%, 0)
	display: flex
	justify-content: center
	gap: 13px

	+r(1380)
		bottom: 15px

	&__bullet
		border-radius: 12px
		width: 12px
		height: 12px
		background: var(--secondary-slider---blue---200)
		+transition

		&--active
			background: var(--secondary-slider---blue-400)
			width: 56px

.modal
	display: flex
	visibility: hidden
	opacity: 0
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	min-width: 100vw
	min-height: 100vh
	padding: 30px
	z-index: 10000
	background-color: rgba(#1a1a1d, .7)
	overflow: auto
	padding: 40px 0
	+transition

	&.active
		opacity: 1
		visibility: visible

		.modal__form
			transform: translate(0, 0)
			opacity: 1

	&__close
		position: absolute
		right: 20px
		top: 20px
		display: block
		width: 30px
		height: 30px
		border-radius: 50%
		border: none
		cursor: pointer
		transition: all .6s
		background-color: transparent

		+r(576)
			width: 30px
			height: 30px

		&:hover
			outline: none
			transform: rotate(90deg)

			span
				background: red

		span
			display: block
			position: absolute
			left: 50%
			top: 50%
			background: #000
			transition: all .6s
			border-radius: 4px
			height: 22px
			width: 3px

			&:first-child
				transform: translate(-50%, -50%) rotate(45deg)

			&:last-child
				transform: translate(-50%, -50%) rotate(-45deg)

	&--cookies
		position: fixed
		bottom: 30px
		border-radius: 32px
		padding: 24px
		width: 436px
		height: 292px
		min-width: auto
		min-height: auto
		z-index: 100
		backdrop-filter: blur(20px)
		box-shadow: 0 6px 14px 0 rgba(73, 23, 155, 0.03), 0 25px 25px 0 rgba(73, 23, 155, 0.03), 0 55px 33px 0 rgba(73, 23, 155, 0.02), 0 98px 39px 0 rgba(30, 8, 73, 0), 0 153px 43px 0 rgba(30, 8, 73, 0)
		background: var(--glass-card-glass-fill)
		visibility: hidden
		opacity: 0
		right: -300px
		+transition

		+r(767)
			width: 360px

		h3
			font-family: var(--second-family)
			font-weight: 500
			font-size: 32px
			line-height: 125%
			color: var(--main-main-blue)
			margin-bottom: 15px

			+r(767)
				font-size: 22px

		p
			font-family: var(--third-family)
			font-weight: 400
			font-size: 18px
			line-height: 133%
			color: var(--main-text-70-opacity)
			margin-bottom: 40px
			+r(767)
				margin-bottom: 25px

		&__btn
			display: flex
			gap: 15px

			.btn
				width: 55%
				padding: 15px
				justify-content: center
				font-family: var(--second-family)
				font-weight: 400
				font-size: 20px
				line-height: 100%
				text-transform: capitalize
				color: var(--main-white)

			.btn--transparent
				border: 1px solid var(--background-colours-gradient-violet)
				color: var(--main-dark-blue---text)
				width: 40%
				&::before
					display: none

				&:hover
					background-color: var(--background-colours-gradient-violet)
					color: #fff

		&-active
			opacity: 1
			right: 30px
			visibility: visible

.form
	+pseudo
	position: relative
	max-width: 700px
	z-index: 1
	background-color: #fff
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.29)
	width: 100%
	height: auto
	padding: 40px 72px 48px 72px
	border: 1px solid #8d8d8e
	margin: auto
	transform: translate(0, -150px)
	border-radius: 32px
	+transition

	+r(992)
		max-width: 90vw
		padding: 20px 30px

	+r(576)
		padding: 25px

	&::after
		width: 100%
		height: 100%
		background-color: rgba(#fff, .7)
		background-image: url(../img/loading.gif)
		background-repeat: no-repeat
		background-position: center
		background-size: 120px
		visibility: hidden
		opacity: 0
		z-index: 100
		+transition

	&._sending
		&::after
			opacity: 1
			visibility: visible

	&__title
		text-align: center
		font-family: var(--second-family)
		font-weight: 500
		font-size: 32px
		line-height: 125%
		color: var(--main-main-blue)
		margin-bottom: 40px

	&__item
		position: relative
		margin-bottom: 20px

	&__label
		font-weight: 500
		margin-bottom: 5px

	&__error
		position: absolute
		bottom: -15px
		left: 10px
		transition: all .3s
		animation: error .3s linear 1 forwards
		color: red
		text-align: center
		font-size: 12px
		line-height: 130%
		z-index: 1

	&__input
		width: 100%
		border: 1px solid rgba(30, 8, 73, 0.4)
		border-radius: 8px
		height: 48px

		&._error
			border-bottom-color: red
	
	&__textarea
		border: 1px solid rgba(30, 8, 73, 0.4)
		border-radius: 8px
		width: 100%
		resize: none
		min-height: 120px
		margin-bottom: 30px

		&._error
			box-shadow: 0 0 4px 0 rgba(red, 1)
			border-bottom-color: red
	
	&__btn
		order: 1

		&_button
			@extend .btn
			justify-content: center
			padding: 10px
			margin: 0 auto

.main--products__item--one
	+r(767)
		right: 60%

.main--products--two.swiper-slide-active .main--products__item--one
	+r(767)
		right: 20%

.main--products--two.swiper-slide-prev .main--products__item--one
	+r(767)
		right: 5%

.main--products--three.swiper-slide-active .main--products__item--two
	+r(767)
		right: 102%


.main__swipe_anime
	animation-name: slideRightLeft
	animation-duration: 2s
	animation-iteration-count: infinite
	animation-timing-function: ease-in-out

@keyframes slideRightLeft
	0%
		transform: translateX(0)
	50%
		transform: translateX(45px)
	100%
		transform: translateX(0)

@keyframes slideRightUp
	0%
		transform: translateY(0)
	33%
		transform: translateY(-10px)
	66%
		transform: translateY(10px)
	100%
		transform: translateY(0)

.main--products__item--one
	+r(480)
		right: 10%
		z-index: 1

.main--products__item--two
	+r(480)
		right: 100%

.main--products--two.swiper-slide-active .main--products__item--one
	+r(480)
		right: 0

.main--products--three.swiper-slide-active .main--products__item--three
	+r(480)
		right: 0

.main--products--three.swiper-slide-next .main--products__item--three
	+r(480)
		right: -10%

.main--products__line
	+r(480)
		left: -114%

.main--products--three.swiper-slide-next .main--products__item--two
	+r(480)
		right: 100%

.preloader
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: #ffffff
	display: flex
	justify-content: center
	align-items: center
	z-index: 9999
	+transition

.preloader--remove
	visibility: hidden
	opacity: 0


@keyframes spin
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)

.preloader::after
	content: ''
	width: 40px
	height: 40px
	border: 4px solid var(--secondary-slider---blue-400)
	border-top: 4px solid #f3f3f3
	border-radius: 50%
	animation: spin 1s linear infinite

.policy
	padding: 120px 0
	height: auto
	min-height: 100vh
	background-image: url(../img/gradient.jpg)
	background-repeat: repeat

	a
		color: var(--background-colours-gradient-red)

		&::hover
			color: var(--background-colours-gradient-violet)

	p
		@extend .main--contacts__text